<div class="card">
  <div class="card-body">
    <img class="card-img-top" src="../assets/img/image1.jpg" alt="Card image cap">
    <div class="card-content">
      <h4 class="card-title">Hotel {{hotel?.id}}</h4>
      <p class="card-text">
      <li>Id: {{hotel?.id}}</li>
      <li>Name: {{hotel?.name}}</li>
      <li>Address: {{hotel?.address}}</li>
      <li>Email: {{hotel?.email}}</li>
      </p>
      <a [routerLink]="hotel.id" class="btn btn-primary">Detail View</a>
    </div>
  </div>
</div>
