<div class="card" *ngIf="hotel">
  <div class="card-body">
    <img class="card-img-top" src={{hotel?.imgPath}} alt="Card image cap">
    <div class="card-content">
      <h4 class="card-title">{{hotel?.name}}</h4>
      <p class="card-text">
      <li>{{hotel?.address}}</li>
      <li>{{hotel?.email}}</li>
      <li>Starting From {{hotel?.price | currency:"USD":true}}</li>
      </p>
      <a (click)="onDetailClick(hotel?.id)" class="btn btn-primary">Room Selection</a>
    </div>
  </div>
</div>
