<div class="card" *ngIf="hotel">
  <div class="card-body">
    <img class="card-img-top" src={{hotel?.imgPath}} alt="Card image cap">
    <div class="card-content">
      <h4 class="card-title">{{hotel?.name}}</h4>
      <p class="card-text">
      <a href="mailto:{{hotel?.email}}" class="email">{{hotel?.email}}</a>
      <li class="address">{{hotel?.address}}</li>
      <li class="price-title">Starting From <span class="price">{{hotel?.price | currency:"USD":true}}</span> </li>
      </p>
      <a (click)="onDetailClick(hotel?.id)" class="btn btn-primary button-click" >Room Selection</a>
    </div>
  </div>
</div>
