.cart {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 50px;
  color: #fff4ff;
  z-index: 99999;
}

.traveller{
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 120px;
  color: #fff4ff;
  z-index: 99999;
  background-color: #2d3b68;
}

