.cart {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 50px;
  color: #fff4ff;
  z-index: 99999;
}

.traveller {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 120px;
  color: #fff4ff;
  z-index: 99999;
  background-color: #2d3b68;
}

.cart-icon {
  color: white;
  z-index: 9999999;
  position: fixed;
  top: 5px;
  right: 40px;
  background: red;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  font-weight: 900;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.4);
}

