<div class="modal-content" *ngIf="items">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{{getItemCount()}}
      <span>{{formatItemText()}}</span>
      in Shopping Cart</h4>
    <h5>Total Price {{getTotaPrice() | currency:"USD":true}}</h5>
  </div>
  <div class="modal-body">
    <div *ngFor="let item of items">
      <cart-item [item]="item"></cart-item>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
