<div class="search-bar">
  <div class="jumbotron">
    <form class="row" novalidate (ngSubmit)="onSubmit(searchCriteria)" [formGroup]="searchCriteria">
      <div class="col-md-4">
        <md-form-field>
          <input mdInput placeholder="City" aria-label="City" [mdAutocomplete]="auto" formControlName="keyWord">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let city of filteredCities" [value]="city">
              <span>{{city}}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </div>
      <div class="col-md-4">
        <md-form-field>
          <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="checkInDate">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-lg" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>
