<div class="search-bar">
  <div class="jumbotron">
    <form class="row" novalidate (ngSubmit)="onSubmit(searchCriteria)" [formGroup]="searchCriteria">
      <div class="col-md-2"></div>
      <div class="search-bars col-md-8">
        <div class="row">
          <div class="col-md-5">
            <mat-form-field>
              <input matInput placeholder="City" aria-label="City" [matAutocomplete]="auto" formControlName="keyWord">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of filteredCities" [value]="city">
                  <span>{{city}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="checkInDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-lg" type="submit">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
